<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チャット参加</title>
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.css">
    <!-- <link rel="stylesheet" type="text/css" href="./animate.css"> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
    <link rel="stylesheet" type="text/css" href="/css/stylerandomchat.css">
    <!-- <link rel="stylesheet" type="text/css" href="../skippr_hina/css/skippr.css">
    <link rel="stylesheet" type="text/css" href="../skippr_hina/css/style.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" >
    <style>
        label, input { display:block; }
        input.text { margin-bottom:12px; width:95%; padding: .4em; }
        fieldset { padding:0; border:0; margin-top:25px; }
        .ui-dialog .ui-state-error { padding: .3em; }
    </style>
</head>
<body>
<div class="wrap">
    <header class="clearfix">
        <div class="nav">
            <div class="logo">
                <p class="Top"><a href="index.html">Galledia de Chat</a></p>
            </div>
            <ul class="top-menu">
                <li class="top-menu-item"><a href="#login">ログイン</a></li>
                <li class="top-menu-item"><a href="#login">会員登録</a></li>
            </ul>
        </div>
    </header>
</div>
<div class="clearfix"></div>
<div class="container clearfix">
    <div class="chat-container">
        <div class="chat">
            <div class="chat-header clearfix">
                メッセージ
                <i class="fa fa-users"></i>
            </div>

            <div class="chat-history">
                <ul>
                </ul>
            </div> <!-- end chat-history -->
        </div> <!-- end chat -->

        <div class="controls">
            <div class="room-name" style="height: 30px; color: white">
                <span><%= name %></span>
            </div>
            <div>
                <!--<button class="public-btn" style="float:left;" data-value="1">公開</button>-->
                <!--<button class="escape-btn" style="background-color: #EC715F">退出</button>-->
            </div>
        </div>


        <div class="users-list">
            <ul class="list">
                <!--<li class="clearfix" id="user-5a23e9109a8f4005d34fa77e">-->
                <!--<img src="/img/user.jpg" alt="test">-->
                <!--<div class="about">-->
                <!--<div class="name">test</div>-->
                <!--<div class="status"><i class="fa fa-circle online"></i> online</div>-->
                <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>
<footer class="footer">
    <small>@2017 WillTREE</small>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/socket.io.js"></script>
<script>
    //var socket = io.connect('http://localhost:3000');
    var namespace = '<%= namespace %>';
    var roomId = '<%= roomId %>';

    var socket = io('/' + namespace, {transports: ['websocket']});
    socket.on('connect', function (data) {
        socket.emit('view-join', roomId);
    });

    socket.on('broad', function (data) {
        //$('#future').append(data + "<br/>");
        addMessage(data);
    });

    socket.on('removeRoom', function (data) {
        alert('ルームが解散します');
        window.location.href = '/';
    });

    socket.on('removeUser', function (data) {
        $('#user-' + data.userId).remove();
        addNotice(data.userName + " 退出しました");
    });

    socket.on('addNotice', function (notice) {
        // Add notice
        addNotice(notice);
    });

    // Update users list upon emitting updateUsersList event
    socket.on('updateUsersList', function(data, clear) {
        var users = data.users;
        var $publicBtn = $('.public-btn');

        // If room was changed to private then get out
        if(!data.open){
            alert('ルーム非公開されました');
            socket.emit('view-left', roomId);
            window.location.href = '/';
        }

        $('.container p.message').remove();
        if(users.error != null){
            $('.container').html(`<p class="message error">${users.error}</p>`);
        }else{
            updateUsersList(users, clear);
        }
    });

    // Add message
    function addMessage(message) {
        message.date      = (new Date(message.date)).toLocaleString();
        message.username  = encodeHTML(message.username);
        message.content   = encodeHTML(message.content);

        var html = `
              <li>
                <div class="message-data">
                  <span class="message-data-name">${message.username}</span>
                  <span class="message-data-time">${message.date}</span>
                </div>
                <div class="message my-message" dir="auto">${message.content}</div>
              </li>`;
        $(html).hide().appendTo('.chat-history ul').slideDown(200);

        // Keep scroll bar down
        $(".chat-history").animate({ scrollTop: $('.chat-history')[0].scrollHeight}, 1000);
    }

    // Add notice to chat history
    function addNotice(content) {
        var html = `<li><div><span class="chat-notice">${content}</span></div></li>`;
        $(html).hide().appendTo('.chat-history ul').slideDown(200);
        //$(".chat-history").animate({ scrollTop: $('.chat-history')[0].scrollHeight}, 1000);
    }

    // Update users list
    function updateUsersList(users, clear) {
//            if(users.constructor !== Array){
//                users = [users];
//            }

        var html = '';
        for(var userId in users) {
            var userName = '';
            if (users.hasOwnProperty(userId)) {
                userName = users[userId];
            }

            userName = this.encodeHTML(userName);
            html += `
                 <li class="clearfix" id="user-${userId}">
                     <img src="/img/user.jpg" alt="${userName}" />
                     <div class="about">
                        <div class="name">${userName}</div>
                        <div class="status"><i class="fa fa-circle online"></i> online</div>
                     </div>
                 </li>`;
        }

        if(html === ''){ return; }

        if(clear != null && clear == true){
            $('.users-list ul').html('').html(html);
        }else{
            $('.users-list ul').prepend(html);
        }
    }

    function encodeHTML(str) {
        return $('<div />').text(str).html();
    }
</script>

</body>
</html>
