<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>とにかく話を聞いてほしい/聞いてあげたい</title>
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.css">
    <!-- <link rel="stylesheet" type="text/css" href="./animate.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/anythingchat.css">
    <!-- <link rel="stylesheet" type="text/css" href="../skippr_hina/css/skippr.css">
    <link rel="stylesheet" type="text/css" href="../skippr_hina/css/style.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>
    <div class="wrap">
        <header class="clearfix">
            <div class="nav">
                <div class="logo">
                    <p class="Top"><a href="/">Galledia de Chat</a></p>
                </div>
                <ul class="top-menu">
                    <li class="top-menu-item"><a href="#login">ログイン</a></li>
                    <li class="top-menu-item"><a href="#login">会員登録</a></li>
                </ul>
            </div>
        </header>
    </div>

    <div class="clearfix">
        <div class="attention">
            <h2 class="hajime">チャットを始める前に</h2>

            <p class="description">
                ・とにかく話を聞いてほしい、聞いてあげたい人向けのチャットです。<br> ・利用には会員登録が必要です。
                <br> ・話を聞いてほしい人は。。
                <br> 　 胸の内を話して活力を得てもらいたくて作ったサービスです。<br> 一方的なストレス発散のために連続して暴言を吐いたり、
                <br> 　 セクハラ発言を続ける等はお控えください。<br> 　　　・話を聞く人は。。
                <br> 　出来るだけ、話を聞いてあげてください。
                <br> 　　・会話の公開/非公開を選んでください。 　　（デフォルトは非公開です。）
                <br> ・皆にも共有したい、良いフレーズが出たら、「よっ！名言！」ボタンを押してください。
                <br> 会話を非公開にしていても、名言はサイトのトップページに公開されます。
                <br> ・退出のときには退出ボタンを押してください。
                <br> 　話を聞く人、話す人、両方が好きなときに退出できます。
                <br> ・すごく仲良くなってどうしてもまた話したくなったら、
                <br> 会員登録をして、会員向けのメッセンジャーサービスを使ってください。
                <br>
            </p>
            <div class="chatstart">チャットを開始する
                <div class="chatstart-after1">
                    <a href="/chat/anything_talk">話を聞いてほしい</a>
                </div>
                <div class="chatstart-after2">
                    <a href="/chat/anything_listen">話を聞いてあげたい</a>
                </div>
            </div>

        </div>

        <div class="chatimage">
            <h1 class="top1">とにかく話を聞いてほしい/聞いてあげたい</h1>
            <p class="top2">
                ・とにかく話を聞いてほしい、聞いてあげたい人向けのチャットです。<br> ・利用には会員登録が必要です。
                <br> ・話を聞いてほしい人は。。
                <br> 　 胸の内を話して活力を得てもらいたくて作ったサービスです。<br> 一方的なストレス発散のために連続して暴言を吐いたり、
                <br> 　 セクハラ発言を続ける等はお控えください。<br> 　　　・話を聞く人は。。
                <br> 　出来るだけ、話を聞いてあげてください。
                <br> 　　・会話の公開/非公開を選んでください。 　　（デフォルトは非公開です。）
                <br> ・皆にも共有したい、良いフレーズが出たら、「よっ！名言！」ボタンを押してください。
                <br> 会話を非公開にしていても、名言はサイトのトップページに公開されます。
                <br> ・退出のときには退出ボタンを押してください。
                <br> 　話を聞く人、話す人、両方が好きなときに退出できます。
                <br> ・すごく仲良くなってどうしてもまた話したくなったら、
                <br> 会員登録をして、会員向けのメッセンジャーサービスを使ってください。
                <br>
            </p>
        </div>
    </div>
    <footer class="footer">
        <small>@2017 WillTREE</small>
    </footer>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <!-- <script src="../js/wow.js"></script> -->
    <script>
        $('.chatstart').hover(function() {
            $('.chatstart-after1').stop().fadeToggle();
            $('.chatstart-after2').stop().fadeToggle();

        });
    </script>

</body>

</html>