<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.css">
    <!-- <link rel="stylesheet" type="text/css" href="./animate.css"> -->
    <link rel="stylesheet" type="text/css" href="contact.css">
    <!-- <link rel="stylesheet" type="text/css" href="../skippr_hina/css/skippr.css">
    <link rel="stylesheet" type="text/css" href="../skippr_hina/css/style.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" >
</head>
<body>
<div class="wrap">
    <header class="clearfix">
        <div class="nav">
            <div class="logo">
                <p class="Top"><a href="/">Galledia de Chat</a></p>
            </div>
            <!-- <ul class="top-menu">
                <li class="top-menu-item"><a href="#login">ログイン</a></li>
                <li class="top-menu-item"><a href="#login">会員登録</a></li>
            </ul> -->
        </div>
    </header>
</div>


<section class="section">
    <h1><span class="content">メッセージありがとうございました！！</span></h1>
    <br><br>
    <p class="message"> 返信までしばらくお待ちください。<br>今後もGalleria de Chatを宜しくお願いします。<br><br>Galleria de Chat管理人パッパラ
    </p>
       
    
</section>

</body>
</html>