<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="thumbnail" content="http://capture.heartrails.com/120x90/cool?https://www.galleriadechat.com" />
    <title>[会話を楽しみたい人のためのチャットサービス] [Galleria de Chat ママ　おうちスナック]</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">-->
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <!-- <link rel="stylesheet" type="text/css" href="./animate.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/stylewitty.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../skippr_hina/css/skippr.css">
    <link rel="stylesheet" type="text/css" href="../skippr_hina/css/style.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/dhtmlxcalendar/fonts/font_roboto/roboto.css">
	<link rel="stylesheet" type="text/css" href="/dhtmlxcalendar/dhtmlxcalendar.css">
    <script src="/dhtmlxcalendar/dhtmlxcalendar.js"></script>
    
    <meta name="description" content="Galleria de Chatは出会い系サイトではありません。会話を楽しみたい、誰かと共感したい人向けのチャットサービスです。">
    <meta name="author" content="kancoroSP">
    <meta property="og:type" content="website">
    <meta property="og:title" content="チャットサービス">
    <meta property="og:description" content="Galleria de Chatは出会い系サイトではありません。会話を楽しみたい、誰かと共感したい人向けのチャットサービスです。">
    <meta property="og:image" content="/img/thumbnail.png">

    <meta property="og:url" content="https://www.galleriadechat.com/">

</head>

<body>
    <div class="wrap">
        <header class="clearfix">
            <div class="nav">
                <div class="logo">
                    <p class="Top"><a href="#top1">Galleria de Chat</a></p>
                </div>
                <!-- <div class="menu-icon"> -->
                <i class="fa fa-bars fa-large sp" aria-hidden="true"></i>
                <ul class="top-menu">
                    <li class="top-menu-item do-chat"><a href="#do chat">チャットする</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-item"><a href="/mamachat">ママチャット</a></li>
                            <li class="sub-menu-item"><a href="/randomchat">ランダムチャット</a></li>
                            <li class="sub-menu-item"><a href="/anythingchat">とにかく聞いてほしい/聞きたい</a></li>
                            <li class="sub-menu-item"><a href="/barchat">Bar de 管理人</a></li>
                        </ul>
                    </li>
                    <li class="top-menu-item"><a href="#see chat">チャットをみる</a></li>
                    <li class="top-menu-item"><a href="#see words">名言をみる</a></li>
<!-- <<<<<<< HEAD -->
                    
                    <li class="top-menu-item"><a href= "/contact"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>

<!-- ======= -->
                    <!-- <li class="top-menu-item"><a href="#login">ログイン</a></li> -->
<!-- >>>>>>> bff0c75633f9c9222f60cfe47470acf8d4a2a25a -->
                </ul>
            </div>
        </header>
    </div>

    <div class="clearfix">
        <div class="top-page">
            <h1 class="top1" id="top1">Galleria de Chat</h1>
            <h4 class="top2">出会った事のない誰かとの会話を楽しもう。</h4>
            <p class="top3">Galleria de Chatは出会い系サイトではありません。会話を楽しみたい、誰かと共感したい人向けのチャットサービスです。<br> 酒場・スナックが好きだけど、子育て中で中々酒場に行けない管理人が、自宅でも似た雰囲気を楽しみたいと思って作ったサービスです。
            </p>

            <p class="choose-chat-bottom"><a href="#do chat">チャットを選ぶ</a></p>
        </div>
    </div>


    <div class="clearfix">
        <div class="do-chat-all">
            <h1 id="do chat">チャットする</h1>
            <div class="do chat_border border"></div>
            <h4>galleriaとはイタリア語で屋根のついた商店街を意味します。<br>お気に入りのお店（チャットルーム）で楽しんでください。</h4>
            <div class="container1">
                <div class="box1 wow rubberBand">
                    <p class="titlechat" id="mamachat">ママチャット</p>
                    <i class="fa fa-comments fa-large" aria-hidden="true"></i>
                    <p class="explaintext">ママ限定のチャットです。<br>ランダムに出会った３人の<br>ママとの会話が楽しめます。</p>
                    <p class="chat-button1"><a href="/mamachat">チャットを開始する</a></p>
                </div>

                <div class="box2 wow rubberBand">
                    <p class="titlechat" id="randomchat">ランダムチャット</p>
                    <i class="fa fa-comments fa-large" aria-hidden="true"></i>
                    <p class="explaintext">性別・年齢など限定しない、<br>ランダムに出会った３人での<br>会話が楽しめます。<br> 相手を不快にするような暴言、
                        <br>セクハラ発言等は控えてください。</p>
                    <p class="chat-button2"><a href="/randomchat">チャットを開始する</a></p>

                </div>
                <div class="box3 wow rubberBand">
                    <p class="titlechat " id="anythingchat">とにかく話を聞いてほしい<br>/聞いてあげたい(準備中）</p>
                    <i class="fa fa-comments fa-large" aria-hidden="true"></i>
                    <p class="explaintext">ランダムに選ばれた会員が<br>あなたの話を聞いて共感して<br>くれます。<br> また、余裕があるときには
                        <br>誰かの話を聞いて力になれます。<br>一方的なストレス発散のための<br> 暴言、セクハラ発言等は
                        <br>やめてください。</p>
                    <p class="chat-button3"><a href="/anythingchat">チャットを開始する</a></p>
                </div>
                <div class="box4 wow rubberBand">
                    <p class="titlechat" id="barchat">Bar de 管理人<br>毎晩22時〜24時営業</p>
                    <i class="fa fa-comments fa-large" aria-hidden="true"></i>
                    <p class="explaintext">管理人が気ままに話したり、<br>あなたの話を聞いたりします。<br> 入店は限定8名ですが、
                        <br>観覧はどなたでも!<br><br>
                        <span id="barchatText" class="roomstate"></span>
                    </p>
                    <p class="chat-button4"><a href="/barchat">入店する</a></p>
                </div>

            </div>
        </div>
    </div>


    <div class="clearfix">
        <h1 id="see chat">チャットを見る</h1>
        <div class="Feature_border border room-list">
            <p></p>
        </div>
        <h4>公開中のチャット一覧です。好きなチャットルームをみてみよう。</h4>
        <!-- <p class="order">並び順：　新着順　チャットルーム別</p> -->
    </div>

    <div class="clearfix">
        <div class="title-place">
            <h1 class="top1" id="witty-title">○年○月○日のよっ！名言一覧</h1>
            <div class="Feature_border border"></div>
            <h4>チャット中に飛び出した名言たちです。</h4>
            <!-- <p class="order">並び順：　新着順　チャットルーム別</p> -->
        </div>
    </div>
        　　　
    <div class="clearfix witty-words">
        <div class="arrow-l" >
            <p class="yesterday">前日</p>
            <i class="fa fa-2x fa-arrow-left" aria-hidden="true" id="prevLink"></i>
        </div>
        <div class="witty-list">
            <p> 名言のないよう/名前/チャット種類/発言時間</p>
            <p> 名言の内容/名前/チャット種類/発言時間</p>
            <p> 名言のないようリスト/名前/チャット種類/発言時間</p>
        </div>
        <div class="arrow-r">
            <div>
                <p class="yesterday">翌日</p><a id="nextLink"><i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <br><br>
            <div id="calendarHere" style="position:relative;height:350px;">
            </div>
        </div>
    </div>
    <!--<footer class="footer">-->
    <!--<small>@2017 WillTREE</small>-->
    <!--</footer>-->

    <%- include layout/footer.ejs %>

        <script src="/js/wow.js"></script>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script src="/js/script.js"></script>
        <script src="/js/socket.io.js"></script>
        <script src="/js/date-to-format-string.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115777593-1"></script>

        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-115777593-1');


        </script>
        <script>

            var socket = io('/home', {
                transports: ['websocket']
            });
           
            var witties;
            var date = new Date();

            var namespaceList = {
                "random": "ランダームチャット",
                "mama": "ママチャット",
                "anything_talk": "とにかく話を聞いてほしい",
                "anything_listen": "とにかく話を聞いてあげたい",
                "bar_join": "Bar de 管理人"
                    /*"bar_view": "Bar de 管理人" */
            };

            var myCalendar = new dhtmlXCalendarObject("calendarHere");
                myCalendar.setDate(new Date());
                myCalendar.attachEvent("onClick", function(_date){
                    dayChanged(_date);
                });
                myCalendar.hideTime();
                // add once, make sure dhtmlxcalendar.js is loaded
                dhtmlXCalendarObject.prototype.langData["ja"] = {
                    // date format for inputs
                    dateformat: "%d.%m.%Y",
                    // header format
                    hdrformat: "%Y年 %F",
                    // full names of months
                    monthesFNames: [
                        "1月","2月","3月","4月","5月","6月",
                        "7月","8月","9月","10月","11月","12月"
                    ],
                    // short names of months
                    monthesSNames: [
                        "1月","2月","3月","4月","5月","6月",
                        "7月","8月","9月","10月","11月","12月"
                    ],
                    // full names of days
                    daysFNames: [
                        "日曜日","月曜日","火曜日","水曜日",
                        "木曜日","金曜日","土曜日"
                    ],
                    // short names of days
                    daysSNames: [
                        "日","月","火","水",
                        "木","金","土"
                    ],
                    // starting day of a week. Number from 1(Monday) to 7(Sunday)
                    weekstart: 7, 
                    // the title of the week number column
                    weekname: "w",
                    // name of the "Today" button
                    today: "今日",
                    // name of the "Clear" button
                    clear: "Clear"
                };
                myCalendar.loadUserLanguage("ja");
                myCalendar.show();
                
            $('#prevLink').on('click', function(e) {
                console.log('prev link clicked!');
                date.setDate(date.getDate() - 1);
                myCalendar.setDate(date);
                dayChanged(date);
                e.preventDefault();
            });

            $('#nextLink').on('click', function(e) {
                console.log('next link clicked!');
                date.setDate(date.getDate() + 1);
                myCalendar.setDate(date);
                dayChanged(date);
                e.preventDefault();
            });

            function dayChanged(_date) {
                date = _date;
                socket.emit('getWitties', date.toDateString());
                var $wittyTop = $('#witty-title');
                var dateJp = dateToFormatString(date, '%YYYY%年%M%月%D%日');
                $wittyTop.text(dateJp + 'のよっ！名言一覧');
            }
            // events
            socket.on('connect', function(data) {
                console.log('get witties of today!');
                dayChanged(date);
            });

            socket.on('addedWitty', function(data){
                console.log('added witty! ' + date.toDateString());
                dayChanged(date);
            });

            socket.on('removedWitty', function(data){
                console.log('removed witty! ' + date.toDateString());
                dayChanged(date);
            });

            // show received witties
            socket.on('witties', function(data){
                console.log('getting witties...');
                console.log(data.witties);

                if(data.date === date.toDateString()) {
                    var $wittyList = $('.witty-list');
                    witties = data.witties;
                    // Clear current witty list
                    $wittyList.html('');
                    if(witties.length) {
                        witties.forEach(function(witty) {
                            console.log(witty);
                            var dateJp = dateToFormatString(new Date(witty.date), '%H%:%m%');
                            var wittyHtml = '<p>' + witty.content + ' / ' + witty.username + ' / ' + namespaceList[witty.roomType] + ' / ' + dateJp + '</p>';
                            $wittyList.append(wittyHtml);
                        });
                    } else {
                        $wittyList.html('<p>&nbsp;</p>');
                    }
                }
            });

            socket.on('updateOpenRoomlist', function(data) {
                socket.emit('updateOpenRooms', true);
            });

            socket.on('barchatnotice', function(notice) {
                $("#barchatText").text(notice);
            });

            socket.on('openRooms', function(openRooms) {
                console.log('open room');
                console.log(openRooms);
                var $roomList = $('.room-list');
                // Clear current witty list
                $roomList.html('');
                $.each(openRooms, function(namespace, rooms) {
                    var name = namespaceList[namespace];
                    $.each(rooms, function(idx, room) {
                        $roomList.append('<p>' + name + '<a href="/chat/view/' + namespace + '?roomId=' + room.id + '">参加</a></p>');
                    })
                })
            });
        </script>
</body>

</html>