<header class="clearfix">
    <div class="nav">
        <div class="logo">
            <p class="Top"><a href="#top1">Galledia de Chat</a></p>

        </div>
        <!-- <div class="menu-icon"> -->
        <i class="fa fa-bars fa-large sp" aria-hidden="true"></i>
        <ul class="top-menu">
            <li class="top-menu-item do-chat"><a href="#do chat">チャットする</a></li>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="mamachat.html">ママチャット</a></li>
                <li class="sub-menu-item"><a href="randomchat.html">ランダムチャット</a></li>
                <li class="sub-menu-item"><a href="anythingchat.html">とにかく聞いてほしい/聞きたい</a></li>
                <li class="sub-menu-item"><a href="barchat.html">Bar de 管理人</a></li>
                　　　　　　　　　　　</ul>
            <li class="top-menu-item"><a href="#see chat">チャットをみる</a></li>
            <li class="top-menu-item"><a href="#see words">名言をみる</a></li>
            <li class="top-menu-item"><a href="#login">ログイン</a></li>
        </ul>
    </div>
</header>